---
import { GET } from '../api/recipes/[id].json'
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/Header.astro'
import { getIngredients } from '@/utils'

// Dentro de Astro.params se encuentran los paramentros de la url [id]
// Por lo que no es necesario que la mandemos de nuevo, ya que se obtiene
// desde la API
const response = await GET(Astro)
const data = await response.json()
const recipeTitle = data.strMeal
const recipeInstructions = data.strInstructions
const recipeImg = data.strMealThumb
---

<Layout title="recipe">
  <Header />

  <main class="wrapper">
    <div class="recipe-container">
      <div class="recipe-sidebar">
        <div class="recipe-img">
          <img src={recipeImg} alt={recipeTitle} width="320" height="360" />
        </div>
        <h2>Ingredients</h2>
        <ul class="ingredients-list">
          {
            getIngredients(data).map((ingredient, index) => (
              <li>{ingredient.name}</li>
            ))
          }
        </ul>
      </div>

      <div class="recipe-content">
        <h1>{recipeTitle}</h1>
        <h2>Instructions</h2>
        <p>{recipeInstructions}</p>
      </div>
    </div>
  </main>
</Layout>

<style>
  .wrapper {
    max-inline-size: 1050px;
    inline-size: 100%;
    margin: auto;
  }

  .recipe-container {
    box-sizing: border-box;
    margin-block-start: 40px;
    padding-inline: 16px;
    inline-size: 100%;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    block-size: 100%;

    .recipe-sidebar {
      position: sticky;
      top: 20px;

      h2 {
        font: var(--headline2-medium);
        margin-block-start: 16px;
        margin-block-end: 0;
      }

      .ingredients-list {
        margin-block-start: 16px;
        li {
          font: var(--body1-regular);
          /* color: var(--gray); */
          /* margin-block-start: 8px; */
          /* list-style: none; */
        }
      }

      .recipe-img {
        max-inline-size: 320px;
        width: 100%;
        block-size: auto;
        aspect-ratio: 320/360;
        border-radius: 12px;
        overflow: hidden;

        img {
          inline-size: 100%;
          vertical-align: middle;
          block-size: 100%;
          object-fit: cover;
        }
      }
    }

    .recipe-content {
      inline-size: 100%;
      h1 {
        margin-block-start: 0;
        margin-block-end: 16px;
        font: var(--headline1-bold);
      }
      h2 {
        font: var(--headline2-medium);
        margin-block-start: 32px;
        margin-block-end: 0;
      }
      p {
        /* margin: 16px; */
        margin-block-start: 8px;
        font: var(--body1-regular);
        color: var(--gray);
        line-height: 30px;
      }
    }
  }

  @media screen and (max-width: 850px) {
    .recipe-container {
      flex-direction: column;
      /* gap: 16px; */
      .recipe-img {
        max-inline-size: 100%;
        block-size: 300px;
        /* aspect-ratio: 20; */
      }
    }
  }
</style>
